/* HOME */

#miniabout
{
   text-align: center;
   padding: 10px;
   margin-top: 100px;
   margin-bottom: 100px;
   font-family: 'Hind Madurai', sans-serif;
}

.btn
{
  border: 1px solid black;
}

h1
{
 font-family: 'Libre Baskerville', serif;
 text-align: center;
 padding: 5px;
}

a
{
     font-family: 'Hind Madurai', sans-serif;
}

#value
{
 text-align: center;
 padding: 5px;
 margin-top: 50px;
 margin-bottom: 100px;
}

#value img
{
  width: 300px;
  height: auto;
}


/* HOME ENDS */



/* ABOUT US */

#quote
{
  padding: 50px;
  max-width: 100%;
  color: #5c4c40;
  text-align: center;
  margin:0 auto;
  width:auto;
  display:table;
  height: 200px;
  font-family: 'Hind Madurai', sans-serif;
  margin-top: 100px;
}

#aboutus
{
  padding: 50px;
  text-align: center;
  margin:0 auto;
  height: 400px;
  width: 85%;
  font-family: 'Hind Madurai', sans-serif;
}

/* ABOUT US ENDS */


/* CATERING */

h5
{
    text-align: center;
}

#shoppingcart
{
  text-align: center;
  margin:0 auto;
  width:auto;
  display:table;
  padding: 5px;
  padding-bottom: 10px;
}

.jumbotronc img
{
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
  height: 300px;
  width: 100%;
}

.centered
{
  position: absolute;
  top: 215px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Libre Baskerville', serif;
  color: white;
  text-shadow: 3px 3px 7px black;
}

#cateringone
{
  padding-top: 3%;
  padding-bottom: 5%;
  font-family: 'Hind Madurai', sans-serif;
}

#cateringtwo
{
  padding-bottom: 5%;
  font-family: 'Hind Madurai', sans-serif;
}

#cateringbtn
{
  text-align: center;
  margin:0 auto;
  width:auto;
  display:table;
  font-family: 'Hind Madurai', sans-serif;
}

#cateringbtn:hover
{
  text-align: center;
  margin:0 auto;
  width:auto;
  display:table;
  color: #2087d7;
  font-family: 'Hind Madurai', sans-serif;
}

/* CATERING ENDS */
